img{
    height: 200px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p{
    font-size: 150%;
}

.modal{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0,0,0.4);
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 125px 0 125px;
}
img{
    padding: 10px;
}
.ima{
    height: 400px;
}